<footer class="footer-container">
    <div class="footer-top">
        <div class="footer-top-column">
            <div class="footer-column-head">Ajio</div>
            <div class="footer-column-items">
                <a href="#">Who we are</a>
                <a href="#">Join our team</a>
                <a href="#">Terms & conditions</a>
                <a href="#">We respect your privacy</a>
                <a href="#">Fee & Payments</a>
                <a href="#">Return & Refunds policy</a>
                <a href="#">Promotions Terms & Conditions</a>
            </div>
        </div>
        <div class="footer-top-column">
            <div class="footer-column-head">Help</div>
            <div class="footer-column-items">
                <a href="#">Track your order</a>
                <a href="#">Frequently Asked Questions</a>
                <a href="#">Returns</a>
                <a href="#">Cancellations</a>
                <a href="#">Payments</a>
                <a href="#">Customer Care</a>
                <a href="#">How Do I Redeem My Coupon</a>
            </div>
        </div>
        <div class="footer-top-column">
            <div class="footer-column-head">Shop By</div>
            <div class="footer-column-items">
                <a href="#">Men</a>
                <a href="#">Women</a>
                <a href="#">Kids</a>
                <a href="#">Indie</a>
                <a href="#">Stores</a>
                <a href="#">New Arrivals</a>
                <a href="#">Bramd Directory</a>
                <a href="#">Home</a>
                <a href="#">Collections</a>
            </div>
        </div>
        <div class="footer-top-column">
            <div class="footer-column-head">Follow Us</div>
            <div class="footer-column-items">
                <a href="#">Facebook</a>
                <a href="#">Instagram-Ajio Life</a>
                <a href="#">Instagram-Ajio Luxe</a>
                <a href="#">Twitter</a>
                <a href="#">Pinterest</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="payment-methods">
            <div class="pay-title">
                <p>Payment Methods</p>
            </div>
            <div class="pay-logo">
                <div class="fb-images pay-mode">
                    <img src="/assets/images/footer/net_banking.jpg" alt="">
                </div>
                <div class="fb-images pay-mode">
                    <img src="/assets/images/footer/visa.jpg" alt="">
                </div>
                <div class="fb-images pay-mode">
                    <img src="/assets/images/footer/master_card.jpg" alt="">
                </div>
                <div class="fb-images pay-mode">
                    <img src="/assets/images/footer/cash_on_delivery.jpg" alt="">
                </div>
                <div class="fb-images pay-mode">
                    <img src="/assets/images/footer/jio_money.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="secure-payment">
            <div class="pay-title">
                <p>Secure Systems</p>
            </div>
            <div class="fb-images">
                <img class="ssl-img" src="/assets/images/footer/ssl.png" alt="">
            </div>
        </div>
    </div>
</footer>