<div class="header-container">
    <header class="header-item">
        <!-- Guest header -->
        <div class="guest-header">
            <ul>
                <li id="signin">
                    <a href="#"  >Sign In / Join AJIO</a>
                </li>
                <li>
                    <a href="#">Customer Care</a>
                </li>
                <li class="ajioluxe">
                    <a href="#">Visit AJIOLUXE</a>
                </li>
            </ul>
        </div>
        <!-- Logo box -->
        <div class="logo-box">
            <a href="#">
                <img class="logo-img" src="assets/images/logo/Ajio-Logo.svg" alt="">
            </a>
        </div>
        <!-- header right -->
        <div class="header-right">
            <!-- user menu -->
            <div class="user-menu">
                <ul>
                    <li>
                        <a href="#">MEN</a>
                    </li>
                    <li>
                        <a href="#">WOMEN</a>
                    </li>
                    <li>
                        <a href="#">KIDS</a>
                    </li>
                    <li>
                        <a href="#">BEAUTY</a>
                    </li>
                    <li>
                        <a href="#">HOME AND KITCHEN</a>
                    </li>
                </ul>
            </div>

            <!-- user actions -->
            <div class="user-action">
                <div class="search-bar">
                    <input type="text" placeholder="Search AJIO">
                    <button id="searchBtn">
                        <i class='bx bx-search'></i>
                    </button>
                </div>
                <div class="user-nav wishlist-block">
                    <a href="#">
                        <i class='bx bx-heart'></i>
                        <!-- signin card hovered -->
                        <div class="signin-card">
                            <button class="signin-btn">SIGN IN</button>
                            <p>To add or view item(s) part of your wishlist</p>
                        </div>
                    </a>
                </div>
                <div class="user-nav bag-block">
                    <a href="#">
                        <i class='bx bx-shopping-bag'></i>
                        <!-- bag hover -->
                        <div class="bag-item-card">
                            <p>Your Bag Is Empty</p>
                            <p>Start Filling It Up!</p>
                            <hr style="margin: 12px 0px; border:none; border-top: 2px solid #e2e0e0;">
                            <span>Free Shipping & Returns | 100% Handpicked | Assured Quality</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>