<div id="signin-modal" class="signin-modal"> 
    <div class="si-modal-content"> 
        <span class="si-close" id="si-closeBtn">&times;</span> 
        <h2>Welcome to AJIO</h2> 
        <p class="join-signin">Join / Sign In using</p> 
        <div class="si-social-buttons"> 
            <button class="si-facebook"><i class='bx bxl-facebook-square'></i>FACEBOOK</button> 
            <button class="si-google"><i class='bx bxl-google' ></i>GOOGLE</button> 
        </div>
        <div class="si-divider">
            <span class="line"></span>
            <p>Or</p>
            <span class="line"></span>
        </div>
        <form class="login-form"> 
            <label class="mob" for="mobile-number">Enter Mobile Number *</label> 
            <input type="text" id="mobile-number" name="mobile-number" required>      
            <button type="submit" class="si-continue">CONTINUE</button> 
        </form> 
        <p class="terms-cond">By Signing In, I agree to <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p> 
        <div class="si-email-login-info"> 
            <i class='bx bx-envelope'></i>
            <p>Email based login is no longer available. Please <a href="#">click here</a> to restore your mobile number.</p>
        </div>
    </div>
</div>